/*Style CSS Tribal Fest*/
@import url(http://fonts.googleapis.com/css?family=ABeeZee);
body
{
	background: #0e0e0e url(images/bg-dark.jpg) repeat;/*; #434343 url(images/bg-dark.jpg)*/
	color: #4C4C4C;
	font-family: 'ABeeZee', Arial;
	font-size: 16px;
	margin: 0;
}

header
{
	width: 100%;
	color: white;
	padding: 0.5em;
	text-align: center;
}
header figure
{
	display: inline-block;
	vertical-align: top;
}


header figure #logo{
	width: 310px;
	margin: 0;	
}

footer
{
	background: #434343;
	bottom: 0;
	color: #A7A7A7;
	left: 0;
	padding: 1em 0;	
	text-align: center;
	width: 100%;
}
footer p
{
	margin: 0;
}



/*Style para Menu*/
nav
{	
	background: #878787;
	color: white;	
	text-align: center;	
	font-size: 1em;
	background: url('head-bg.png')  top ;
}
nav ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li 
{
	display: inline-block;
	margin: 0 1.2em 0 0;
	vertical-align: bottom;
}
nav ul li a 
{
	color:  white;
	display: block;
	padding: 0.5em 0;
}

/*Style para Contenidos */
#contenido{
	margin: 0;
	padding: 0;	
	text-align: center;
}
#contenido h1,h2,h3,h4,h5{
	color: #3f9595;/*#D46E2A;*/
	text-decoration: none;

}
#contenido  #subscription h2,h3,h4,h5{
	font-size: .95em;
}

#contenido .segmentos{
	margin: 0;
	padding: 0;	
	/*background: white;*/
	/*border-bottom: 3px #22BCE0 solid;*/
	margin-bottom: 3em;
	min-height: 320px;
	position: relative;

}


#contenido .segmentos #subscription .input-content {
    margin-bottom: 10px;
    position: relative;
}
#contenido .segmentos #subscription .input {
    -moz-box-sizing: border-box;
    background-color: #F6F6F6;
    border: 1px solid #B5B5B5;
    border-radius: 5px 5px 5px 5px;    
    -webkit-border-radius: 5px 5px 5px 5px; 
    box-shadow: 0 0 10px rgba(204, 204, 204, 0.5) inset;
    font-size: .8em;
    outline: 0 none;
    padding: 10px 20px 10px 35px;
    /*width: 250px;*/
}

#contenido .segmentos #subscription .input.email {
    background: url("images/mail.jpg") no-repeat scroll 10px center #F6F6F6;
    position: relative;
    z-index: 2;
}

#contenido .segmentos #subscription .submit {
	/*float: right;*/
	position: relative;
	/*bottom: 49px;*/
	-o-transition: .2s bottom;
	-ms-transition: .2s bottom;
	-moz-transition: .2s bottom;
	-webkit-transition: .2s bottom;
	transition: .2s bottom;	
}
#contenido .segmentos #subscription .boton-verde {
	background: #00b941;
	border: 1px solid #009a34;
	color: #fff;
	font-size: 13.5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 10px 15px;
	/*text-transform: uppercase;*/
	cursor: pointer;
}



.segmento-right #contador{
	/*width: 100%;*/
	margin: 3px auto;
	width: 320px;
	/*min-width: 320px;*/
	position: relative;
	top: 1em;
	display: inline-block;
}

.segmento-right #contador h3{
	font-size: 1em;
	font-weight: bolder;
	color:#3f9595; /*brown*/
	margin: 2px;
	position: relative;
}

.segmento-right #contador  .dash {
	width: 30%;
	height: 50px;	
	background: #fff transparent url('images/box.jpg')  no-repeat;
	float: left;
	margin: 0 3px;
	display: inline-block;	
	position: relative;
}
.segmento-right #contador  .dash .digit {
	font-size: 1em;
	font-weight: bold;	
	width: 15%;
	text-align: center;
	font-family: Arial;
	color: #fff; /*2f2e2e*/
	padding: 5%;
	display: inline-block;
	position: relative;
	border: 2px solid white;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
}
.segmento-right #contador  .dash_title {
	position: relative;
	display: block;
	bottom: 0;	
	text-align:center;
	font-weight:bold;
	font-size: 0.8em;
	color: #2f2e2e;	
}

.segmentos .title{
	background: url('head-bg.png')  top;
	color: #fff;
	font-weight: bolder;

} 

.segmentos .artist-portrait{
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0;
	
	/*border-radius: 5px;
	border-color: white;
	background: gray;*/
}
.segmentos .artist-portrait img{
	display: block;
	width: 210px;
	height: 210px;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
}

.segmentos .artist-portrait figcaption {
    width: 100%;
    height: 100%;
    background: none repeat scroll 0% 0% rgba(87, 73, 81, 0.1);
    position: absolute;
    top: 0px;
    transition: all 0.2s linear 0s;
}
.segmentos .artist-portrait:hover figcaption span {
    position: absolute;
    top: 70%;
   /* margin-top: -30px;*/
    right: 20px;
    left: 20px;
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background: none repeat scroll 0% 0% rgba(76,76,76, 0.7);/* rgba(212, 110, 42, 0.3),rgba(63, 149, 149, 0.3),rgba(87, 73, 81, 0.3);*/
    line-height: 20px;
    font-size: .8em;
    opacity: 1;
   /* text-transform: uppercase;*/
    letter-spacing: 2px;
    font-weight: 700;
    padding: 7px;
    color: #d46e2a;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.segmentos .artist-portrait  figcaption span {
    transition: all 0.1s ease-in-out 0.5s;
    opacity: 0;
    top: 50%;
}
/** Countdown */







.clearfix:after, #contenido:after, #contenido .container-noticer:after, #contenido .next-program .cont-count:after, #contenido .subscription form:after, #latest:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}
#contenido .subscription form {
    margin: 0 auto;
    padding-bottom: 10px;
    width: 250px;
}


#home .course {
height: 454px;
overflow: hidden;
position: relative;
font-size: 0;
}


ia-container figcaption {
    width: 100%;
    height: 100%;
    background: none repeat scroll 0% 0% rgba(87, 73, 81, 0.1);
    position: absolute;
    top: 0px;
    transition: all 0.2s linear 0s;
}

.ia-container figcaption span {
    position: absolute;
    top: 40%;
    margin-top: -30px;
    right: 20px;
    left: 20px;
    overflow: hidden;
    text-align: center;
    background: none repeat scroll 0% 0% rgba(87, 73, 81, 0.3);
    line-height: 20px;
    font-size: 18px;
    opacity: 0;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
    padding: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.ia-container input:checked + figcaption span {
    transition: all 0.4s ease-in-out 0.5s;
    opacity: 1;
    top: 50%;
}
.ia-container input:checked + figcaption, .ia-container input:checked:hover + figcaption {
    background: none repeat scroll 0% 0% rgba(87, 73, 81, 0);
}
.ia-container figcaption {
    width: 100%;
    height: 100%;
    background: none repeat scroll 0% 0% rgba(87, 73, 81, 0.1);
    position: absolute;
    top: 0px;
    transition: all 0.2s linear 0s;
}
